.theling_tip {
  margin-top: 12px;
  margin-bottom: 20px;
  color: orange;
  font-size: 14px;
  line-height: 20px;
}
.theling_options {
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #dadfe6;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
}
