.theling_itemBar {
  left: 0;
  top: 0;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 6px 0 10px;
  cursor: pointer;
  &:hover {
    background-color: #f2f4f6;
  }
  .theling_itemBarExtra {
    border-radius: 2px;
    color: #939393;
    text-align: center;
    display:block;
    &:hover {
      color: #000000;
      background-color: #f2f4f6;
    }
    > span {
      padding: 4px;
    }
  }
  .theling_isNewTag {
    display: block;
    height: 18px;
    padding: 0 5px;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    background-color: red;
    border-radius: 5px;
  }
}
