.theling-form-modal-header {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  // 左上角圆角8
  border-top-left-radius: 8px;
}

.theling-form-modal-title-item {
  margin-bottom: 4px !important;
  margin-left: 0 !important;

  .ant-form-item-control-input {
    min-height: 0;
  }

  .ant-form-item-row {
    row-gap: 0;
  }
}

.theling-form-modal-toolbar {
  padding: 0;
}

.theling-form-modal-content {
  flex-direction: column;
  display: flex !important;
  height: 100%;
  min-height: 0;
  position: relative;
  width: 100%;
  flex-grow: 1;
  background: #fff;
  border-right: 1px solid rgba(32, 45, 64, .04);
  // 圆角8
  border-radius: 8px;
}

.theling-form-modal-left-main {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.theling-form-modal-left-content {
  padding: 8px 24px 0;
  border-top: 1px solid rgba(32, 45, 64, 0.04);
  border-radius: 8px;
  white-space: pre-wrap;
}

.theling-form-modal-left-footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
  flex-shrink: 0;
  padding: 10px 24px;
  text-align: left;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, .06);
  border-radius: 0 0 2px 2px;
}

.theling-form-modal-title-input {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 2px 0;
  border-radius: 3px;
  font-size: 18px;
  line-height: 24px;
  color: #202d40;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid transparent;
  font-weight: 700;

  &:hover {
    border: 1px solid #c5cedb;
  }

  &:focus {
    outline: none;
    border: 1px solid #06f;
  }
}

.theling-form-modal-select {
  padding: 24px 24px 24px 24px;
  margin-left: auto;
  background: #fcfcfd;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  // 右下角圆角8
  border-bottom-right-radius: 8px;
}

.theling-form-modal2 {
  .ant-modal-content{
    padding: 0 !important;
  }
}


.theling-form-modal {
  .ant-modal-content{
    padding: 0 !important;
  }
}

