@import "../ahAntDef";

.AhAvatar_headerDropdownDiv {
  display: flex;
  height: 100%;
  border-radius: @border-radius-base;
  cursor:pointer;
}
.AhAvatar_headerDropdownDivB:hover {
  background-color: rgba(0, 0, 0, 0.03);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.ah-avatar  {
  color: #fff;
  vertical-align: top;
  background: @primary-color;
}



