.ah-search-header {
  .ah-search-top {
    display: flex;
    justify-content: space-between;
  }
  .ah-search-bottom {
    display: flex;
    justify-content: space-between;
  }
  .ah-search-on {
    padding: 2px;
    font-size: 12px;
    background-color: #edeeef;
    transform: rotate(-90deg);
    cursor: pointer;
  }
  .ah-search-off {
    padding: 2px;
    font-size: 12px;
    background-color: #e4eefd;
    color: #108ee9;
    transform: rotate(-90deg);
    cursor: pointer;
  }
}

.ah-search-sort-icon{
  margin: 6px 0;
  display: flex;
  font-size: 16px;
  color: #108ee9;
  background-color: #e4eefd;
  padding: 2px;
  cursor: pointer;
}
