.ah_content_preview {
  overflow: hidden;
}

.ah_content_preview_button_parent1 {
  margin-top: 6px;
}


.ah_content_preview_button_parent2 {
  margin-top: 6px;
}

.ah_content_preview_button {
  border-radius: 14px;
  margin-left: 40%;
  cursor: pointer;
  align-items: center;
  line-height: 28px;
  width: 94px;
  height: 28px;
  font-size: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .05), 0 1px 4px rgba(0, 0, 0, .05);
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #F1F7FF;
  }
}

.ah_content_preview_content {
  :global {
    table {
      tr {
        border: 1px solid #ccc;
      }
    }
  }
}

.ah_content_preview_content_gov {
  :global {
    table {
      tr {
        border: 1px solid #ccc;
      }
    }
  }
}

.ah_content_preview_content_gov h1 {
  font-family: 宋体;
  font-size: 12pt;
  font-weight: bold;
  line-height: 2em;
  text-indent: 2em;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ah_content_preview_content_gov h2 {
  font-family: 楷体;
  font-size: 12pt;
  text-indent: 2em;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 1.8em;
}

// 宋体加粗，小二，居中，段前1.5行，段后1.5行，行距1
.ah_content_preview_content_gov h3 {
  font-family: 宋体;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  text-indent: 0em;
  font-size: 1.125rem;
  font-weight: 600;
}

.ah_content_preview_content_gov {
  font-family: 宋体;
  font-size: 12pt;
  text-indent: 2em;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 1.8em;
}

// 文号 楷体，小四，居中，段前1.5行，段后1.5行，单倍行距
.ah_content_preview_content_gov .ah-md-article-number {
  font-family: "楷体";
  font-size: small;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1;
}

// 文章标题 宋体，小二，加粗，居中，无段前段后，单倍行距
.ah_content_preview_content_gov .ah-md-title {
  font-family: 宋体;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  text-indent: 0em;
  font-size: 1.125rem;
  font-weight: 600;
}

// 文章首部，宋体，小四，段前1.5行，段后0.5行，单倍行距1
.ah_content_preview_content_gov .article {
  font-family: "宋体";
  font-size: small;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1;
}

.ah_content_preview_content_gov .ah-md-signature {
  font-size: 1rem;
  font-weight: 600;
  color: var(--base-black);
  margin-right: 8px;
}

.ah_content_preview_content_gov .ah-md-bold {
  font-weight: 600;
}

.ah_content_preview_content_gov .ah-md-strikethrough {
  text-decoration: line-through;
}
a{
  word-break: break-word;
}
