.theling_options {
  margin-bottom: 8px;
  border: 1px solid #dadfe6;
  overflow-y: auto;
  max-height: 218px;
  border-radius: 2px 2px 0 0;
}

.theling_search {
  border-radius: 2px 2px 0 0;
  border: 1px solid #dadfe6;
  font-size: 14px;
  appearance: none;
}

.theling_okSelect {
  padding: 5px 0 5px 10px;
  border-left: 1px solid #dadfe6;
  border-right: 1px solid #dadfe6;
}
