.theling_longTag {
  position: relative;
  background-color: gainsboro;
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theling_longTagTitle{
  font-size: 12px;
  color: white;
  line-height: 20px;
  margin: 0 !important;
}
.theling_triangle {
  display: block;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-top-color: gainsboro;
  position: absolute;
  bottom: calc(50% - 12px);
  right: -24px;
  transform: rotate(-90deg);
}
.theling_longTag_1{
  background-color:#088731;
  .theling_triangle{
    border-top-color: #088731;
  }
}
.theling_longTag_2{
  background-color:#52a223;
  .theling_triangle{
    border-top-color: #52a223;
  }
}
.theling_longTag_3{
  background-color:#becc06;
  .theling_triangle{
    border-top-color: #becc06;
  }
}
.theling_longTag_4{
  background-color:#e8cd07;
  .theling_triangle{
    border-top-color: #e8cd07;
  }
}
.theling_longTag_5{
  background-color:#f5aa04;
  .theling_triangle{
    border-top-color: #f5aa04;
  }
}
.theling_longTag_6{
  background-color:#df5114;
  .theling_triangle{
    border-top-color: #df5114;
  }
}
.theling_longTag_7{
  background-color:#c62809;
  .theling_triangle{
    border-top-color: #c62809;
  }
}
.theling_longTag_8{
  background-color:#b7001f;
  .theling_triangle{
    border-top-color: #b7001f;
  }
}
