@import "../../ahAntDef";
.fieldField {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  .fieldlabel,
  .fieldnumber {
    font-size: @font-size-base;
    line-height: 22px;
  }
  .fieldnumber {
    margin-left: 8px;
    color: @heading-color;
  }
}
