.theling_antd_TagGroup_TagManage_filterBox {
  display: flex;
  align-items: center;
  width: 100%;
  .theling_antd_TagGroup_TagManage_textDiv {
    z-index: 2;
    flex-shrink: 0;
    padding: 5px 12px;
    color: #606c80;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      color: #202d40;
      font-weight: 500;
    }
  }

  .theling_antd_TagGroup_TagManage_active {
    color: #419fff;
    font-weight: 700;
    background: #e2f6ff;
  }

}
