.ah_icon_select {
  width: 40px;
  height: 40px;
  font-size: 40px;
  cursor: pointer;
  color: black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background: white;
  transition: all .3s;
  transform: scale(1);
  box-shadow: none
}

.ah_icon_select_active {
  transform: scale(1.2);
  box-shadow: 0 0 5px #1890ff;
  background: #e6f7ff;
  color: #1890ff;
}

// 选好的icon
.ah_icon_select_box {
  // 灰色边框
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
