.theling_tip {
  margin-top: 12px;
  margin-bottom: 20px;
  color: orange;
  font-size: 14px;
  line-height: 20px;
}
.theling_cards {
  margin-bottom: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
}
