.theling-antd-InfoLog {
  .theling-antd-InfoLog-item-header {
    display: flex;
    justify-content: left;
    align-items: center;

    .theling-antd-InfoLog-item-header-avatar {
      width: 24px;
    }

    .theling-antd-InfoLog-item-header-title {
      margin-left: 8px;
    }

    .theling-antd-InfoLog-item-header-time {
      margin-left: 16px;
      color: #B5B5B5;
    }
  }

  .theling-antd-InfoLog-item-content {
    color: #6a6a6a;
    margin-left: 32px;
    margin-bottom: 20px;

  }
  .theling-antd-InfoLog-item-header-tag{
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0 4px 32px;
  }
}
