.adm-ah-selector-item {
    --color: var(--adm-color-fill-content);
    --checked-color: var(--adm-color-wathet);
    --text-color: var(--adm-color-text);
    --checked-text-color: var(--adm-color-primary);
    --border: none;
    --checked-border: none;
    --border-radius: 2px;
    --padding: 8px 16px;
    .adm-selector-item {
        padding: var(--padding);
        position: relative;
        background-color: var(--color);
        border: var(--border);
        border-radius: var(--border-radius);
        color: var(--text-color);
        opacity: 1;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        overflow: hidden;
        vertical-align: top;
    }

    .adm-selector-item-active,.adm-selector-item-multiple-active {
        color: var(--checked-text-color);
        background-color: var(--checked-color);
        border: var(--checked-border)
    }
}